h1 {
  font-size: 34px;
  font-weight: 500;
  margin-top: 0;
}

.wrapper {
  color: darkblue;
  border: solid 1px darkblue;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px 100px;
  margin: 100px 200px;
  text-align: center;
}

.clock {
  font-size: 22px;
  font-weight: 100;
}
