.wrapper {
  color: rgba(9, 92, 23, 0.95);
  border: solid 1px rgba(9, 92, 23, 0.95);
  border-radius: 4px;
  font-family: "Inconsolata", monospace;
  padding: 50px 100px;
  margin: 100px 300px;
  text-align: center;
}

.date {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  margin-top: 0;
}

.clock {
  font-size: 50px;
  font-weight: 100;
}
